.vscode
.idea
.trae
.workbuddy
*.exe
*.dll
*.pdb
*.lib
*.log
*.tmp
*.apk
local.properties
.gradle/
build/

tcc
tcc-src/
*.phar
tmp/
_test_fio.txt
# 测试运行时生成的临时文件
/t_*.jpg
/t_*.tif
/test_exif.jpg
/test_*.bmp
/test_*.wbmp
/test_*.xbm
/tga_test*.tga
/font_test_custom.gdf